.chatroomInfo-infoImg {
  width: 13% !important;
}

.chatroomInfo button {
  outline: none !important;
  border: none !important;
  border-radius: 0px !important;
}

.chatroomInfo-userInfo {
  margin-top: 1%;
}

.chatroomInfo-button {
  width: 50%;
  height: 10vh;
}

.chatroomInfo-infoImg img {
  border-radius: 50%;
  width: 80%;
  margin-left: 12%;
}

.chatroomInfo-infoElements {
  padding-top: 1%;
  height: 11vh;
}

.chatroomInfo-infoBox {
  background-color: #000753;
  height: 11vh;
}

.chatroomInfo-userInfo h2 {
  font-size: 20px;
}

.chatroomInfo-userInfo h3 {
  color: #9d9dd1;
}

.chatroomInfo-userInfo img {
  cursor: pointer;
  /* position: absolute; */
  width: 6%;
  transform: rotate(45deg);
  margin-top: 0.5%;
  margin-left: 5%;
}
#showChatroomProfile .modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#showChatroomProfile .modal .modal-main {
  position: fixed;
  background: #33415c;
  width: 53%;
  height: 65vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatroomInfo-submiteAnswerButton {
  height: 60%;
  width: 10vw;
  background-color: #5c6bc0;
}

.chatroomInfo-avatar-name-contexet-link {
  width: 50%;
  height: 10vh;
  margin-left: 2%;
}
